#work{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#work article{
    padding-bottom: 350px; 
    width: 100%;
}

#work article a{
    color: white;
    display: flex;
    justify-content: center;
    width: 100%;
}

.projectText{
    position: absolute;
    z-index: 10;
    text-align: left; 
    left: 5%;
    width: 80%;
}

.projectText h2 span, .projectText h3 span, .projectText h4 span{
    display: inline-block;
    opacity: 0;
    will-change: transform, opacity;
    transform: translateX(0px);    
}

.projectText h2 span.workOpenAnimation, .projectText h3 span.workOpenAnimation, .projectText h4 span.workOpenAnimation{
    opacity: 1;
    transform: translateX(7vw);
    transition: transform 4s cubic-bezier(0,1,1,1),opacity 0.5s ease;
}

.closeWorkText{
    opacity: 0;
    transform: scale(0.6);  
    transition: transform 1s cubic-bezier(0.77,0.2,0.05,1.0),opacity 1s ease;
}

#work video{
    filter: blur(10px) grayscale(100%);
    transition: filter 1s cubic-bezier(.54,.08,.01,.95),transform 1s cubic-bezier(.54,.08,.01,.95);
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.2);
    will-change: transform, filter;
    object-fit: cover;
    width: 70%;
}

#work h2{
    font-size: 7vw;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7),0px 0px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 3%;
}
    
#work h3{
    font-size: 3vw;   
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7),0px 0px 5px rgba(0, 0, 0, 0.7);
    margin-bottom: 2%;
}

#work h4{
    font-size: 2vw;   
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7), 0px 0px 5px rgba(0, 0, 0, 0.5);
}

#work div{
    display: inline-block;
}

#work video.videoOpen{
    filter: blur(2px);
    transform: scale(2);
}

/*DESKTOP SMALL*/
@media (max-width: 1200px) { 
    #work h2{
        font-size: 100px;
    }
        
    #work h3{
        font-size: 60px;   
    }

    #work h4{
        font-size: 30px;   
    }

    #work article{
        padding-bottom: 400px;
    }

    #work video{
        width: 80%;
    }
}
  
/*MOBILE*/
@media (max-device-width: 900px){
    #work video.videoOpen{
        transform: scale(1.8);
    }

    .projectText h2 span.workOpenAnimation, .projectText h3 span.workOpenAnimation, .projectText h4 span.workOpenAnimation{
        opacity: 1;
        transform: translateX(5vw);  
        transition: transform 4s cubic-bezier(0,1,1,1),opacity 0.5s ease;
    }

    .projectText{
        margin-top: 10%;
        width: 90%;
    }

    #work h2{
        font-size: 140px;
        text-shadow: 0px 0px 5px rgba(0, 0, 0,1),0px 0px 10px rgba(0, 0, 0, 1);
        margin-bottom: 7%;
    }
        
    #work h3{
        font-size: 100px;   
        text-shadow: 0px 0px 5px rgba(0, 0, 0, 1),0px 0px 10px rgba(0, 0, 0, 1);  
        margin-bottom: 5%;
    }

    #work h4{
        font-size: 70px;   
        text-shadow: 0px 0px 5px rgba(0, 0, 0, 1),0px 0px 10px rgba(0, 0, 0, 1);
    }

    #work article{
        padding-bottom: 250px;
    }

    #work video{
        width: 80%;
        height: 1500px;
    }

    #work article{
        padding-bottom: 600px;
    }
}