#NavigationShelf{
    position: fixed;
    top:0;
    right: 0;
    z-index: 1;

    margin: 7%;
 }
 
 #NavigationShelf:hover{
    cursor: pointer;
 }
 
 #NavigationShelf div{
    background-color: black;
    box-shadow: 0px 0px 5px black;
    border-radius: 10px;
    transform-origin: center;
    transition: transform 0.5s,opacity 0.5s;

    margin: 15%;
    height: 5px;
    width: 70px;
    margin-bottom: 10px;
 }
 
 #NavigationLinks{
    opacity: 0;
    z-index: 20;
    position: fixed;
    left: 50%;
    top: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    transition: opacity 0.5s;
    display: none;
 }
 
 #NavigationLinks div{
   cursor: pointer;
   display: block;
   text-decoration: none;
   text-align: center;
   text-shadow: 0px 0px 5px black;
   margin-bottom: 5%;

   font-size: 100px;
 }
 
 #NavigationLinks a span{
    opacity: 0;
    transition: opacity 0.5s,transform 1s;
    display: inline-block;
    transform: translateY(-50px);
 }
