@font-face {
    font-family: interstate;
    src: url(../Ressources/interstate.woff2);
    font-display: swap;
}

*{
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    margin: 0;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    font-family: interstate;
    scrollbar-width: none;
}

#home, #work, #contact, #about{
    transition: filter .5s;
}

.title{
    margin: 2%;
    text-align: center;
    color: white;
    font-size: 5vw;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.6);
}

.reel{
    filter: none !important;
    margin-bottom: 200px; 
}

.legal{
    display: flex;
    margin: 50px;
    justify-content: center;
}

.legal a{
    text-decoration: none;
    font-size: 25px;
    color: rgb(2, 2, 2);
    text-shadow: 0px 0px 5px rgba(0,0,0,0.6);
}
.legal a:hover{
    color: rgb(105, 105, 105);
}

/*DESKTOP SMALL*/
@media (max-width: 1200px) { 
    .title{
        font-size: 100px;
    }
}
  
/*MOBILE*/
@media (max-device-width: 900px){
    .title{
        font-size: 70px;
    }
}

@media (hover: none){
    main{
        display: block;
    }
}