#pictures{
    margin-top: 5%;
    text-align: center;
}

#pictures img{
    filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.2));
}

#pictures h1{
    margin: 0;
    width: 100%;
    color: white;
    z-index: 1;
    font-size: 12vw;
    text-shadow: 0px 0px 5px black;
    margin-bottom: 5%;
}

#NavigationImages{
    display: inline;    
}

#NavigationImages picture img{
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 1%;
    transition: transform 0.1s;
}

#NavigationImages img , #prev, #next{
    cursor: pointer;  
}

#NavigationImages img:hover{
    transform: scale(1.2);
}

#Images{
    display: none;
}

#prev img, #next img{
    margin: 2%;
    margin-right: 1%;
    transition: filter 0.4s,transform 0.1s;
    filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.6));
}

#prev img{
    transform: rotate(90deg);
}

#prev img:hover{
    transform: rotate(90deg) scale(1.4);
}

#next img{
    transform: rotate(-90deg);
}

#next img:hover{
    transform: rotate(-90deg) scale(1.4);
}

#MainImage{
    display: block;
    z-index: 2;
    transform: width 1s, height 1s;
}

#Mobilenext, #Mobileprev{
    display: none;
}

/*DESKTOP SMALL*/
@media (max-width: 1200px) {  
    #pictures h1{
        font-size: 120px;
    }

   #MainImage img{
        height: 432px;
        width: 768px;   
   }

   #NavigationImages img{
        height: 86px;
        width: 153px;
   }

   #prev img, #next img{
        height: 50px;
        width: 50px;
    }
}
  
/*MOBILE*/
@media (max-device-width: 900px){
    #pictures h1{
        font-size: 150px;
        text-shadow: 0px 0px 5px black,0px 0px 10px black,0px 0px 20px black;
    }

   #MainImage img{
        width: 90%;
        height: 90%;
    }

    #prev img, #next img{
        height: 80px;
        width: 80px;
    }
   
    #NavigationImages,#prev,#next{
        display: none;
    }

    #pictures{
        margin-bottom: 20%;
    }

    #Mobileprev img, #Mobilenext img{
        filter: drop-shadow(0px 0px 10px black);
    }

    #Mobileprev img{
        transform: rotate(90deg);
    }

    #Mobilenext img{
        transform: rotate(-90deg);
    }

    #Mobilenext, #Mobileprev{
        display: block;
        position: absolute;
        z-index: 10;
        transform: translate(-50%, 200%);
    }

    #Mobileprev{
        left: 5%;
    }

    #Mobilenext{
        left: 95%;
    }
    
}

