@font-face {
    font-family: interstate;
    src: url(../Ressources/interstate.woff2); 
}

*{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    transition: filter 1s;
    margin: 0;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    font-family: interstate;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

main{
    margin-bottom: 2%;
}