#features article{
    text-align: center;
    margin-top: 8%;
}

#features h1{
    margin: 0;
    text-align: center;
    width: 100%;
    color: white;
    z-index: 1;
    font-size: 12vw;
    text-shadow: 0px 0px 5px black;
}

#features video{
    box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.3);
}

#features article h1{
    position: absolute;
    width: 100%;
    color: white;
    z-index: 1;
    font-size: 7vw;
    margin-top: -4vw;
    text-shadow: 0px 0px 5px black,0px 0px 10px black;
}

#features article:nth-child(even) h1{
    margin-left: +5vw;
}

#features article:nth-child(odd) h1{
    margin-left: -15vw;
}

#features article img{
    filter: drop-shadow(0px 0px 5px black);
    position: static;
    display: block;
    margin: 2%;
    margin-bottom: -4vw;
    margin-left: auto;
    margin-right: auto;
}

#features article p{
    margin-top: 1vw;
    opacity: 0.8;
    font-size: 2vw;
    width: 80%;
    margin-left: 10%;
}

/*DESKTOP SMALL*/
@media (max-width: 1200px) { 
    #features h1{
        font-size: 120px;
    }

    #features article h1{
        font-size: 70px;
    }

    #features video{
        height: 432px;
        width: 768px;   
    }

    #features article p{
        font-size: 30px;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    #features article{
        margin-top: 100px;
    }
}
  
/*MOBILE*/
@media (max-device-width: 900px){
    #features{
        margin-top: 20%;
    }

    #features h1{
        font-size: 150px;
        text-shadow: 0px 0px 5px black,0px 0px 10px black,0px 0px 20px black;
    }

    #features article h1{
        text-shadow: 0px 0px 5px black,0px 0px 10px black,0px 0px 20px black;
        font-size: 100px;
        margin-top: -8vw;
    }

    #features article h1{
        margin-top: -8vw;
    }

    #features video{
        width: 90%;
        height: 90%;
    }
    
    #features article:nth-child(even) h1{
        margin-left: 0%;
    }
    
    #features article:nth-child(odd) h1{
        margin-left: 0%;
    }

    #features article p{
        font-size: 50px;
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
    }

    #features article{
        margin-top: 20%;
    }

    #OpenFileLogo img{
        width: 70%;
        height: 70%;
    }

    #UniverseArrow img{
        width: 10%;
        height: 10%;
    }

}